@media only screen and (max-width: 1000px) {
    #bigScreen{
        display: none;
    }
    #menu ul{
        display: block;
        margin: 0px;
        padding:2px;
        width: 40px;
        height: 38px;
        overflow:hidden;
        list-style-type:none;
    }
    li{
        background: white;
    }
    nav a{
        clear:left;
        margin-top: 10px; 
    }
    .menuLines{
        list-style-type:none;
        border: 2px solid white;
        border-radius: 20px;
        width: 24px;
        margin-top: 4px;
        margin-left: 1px;
    }
    #section1{
        padding-top: 12vh; 
        padding-bottom: 5vh;
        width: 100%;
    }
    #secOneText{
        margin-top: 0vh;
        padding-top: 5vh;
        margin-left:15%;
        width: 70%;
    }
    #secOneImgBox{
        float: left;
        border: none;
    }
    #secOneImg{
        margin-left: 20vw;
        width: 60vw;
        height: 60vw;
    }
    #section2{
        width: 100%;
        margin-bottom: -12vh;      
    }
    #secTwoLeftBox{
        width: 80%;
        padding-left: 10%;
    }
    #secTwoRightBox{
        width: 80%;
        float:left;
        padding-left: 10%;
    }
    .secTwoContainer{
        width: 80%;
        padding-left: 10%; 
    }
    .secTwoImgBox img{
        margin-left: -5%;
        float:left;
        width: 25vw;
    }
    .secTwoContent{
        margin-top: 5%;
        margin-right: -5%;
        margin-left: 10px;
        float: right;
        width: 55vw;
    }
}