@media only screen and (max-width: 760px) {
    #menu ul{
        display: block;
        margin: 0px;
        padding: 1px;
        width: 30px;
        height: 25px;
        overflow:hidden;
        list-style-type:none;
    }
    .menuLines{
        width: 20px;
        margin-top: 2px;
        margin-left: 1px;
    }
    #menu a{
        margin-top: 10px;
        height:20px;
        font-size: 14px;
        padding: 0;
    }
    
    #section1{
        padding-top: 8vh; 
        padding-bottom: 3vh;
        height: auto;
        width: 100%;
    }
    #section1 h1{
        font-size: 16px;
        padding-top: 12px;
        margin-bottom: 2px; 
    }
    #secOneText{
        margin-left:5%;
        width: 90%;
        margin-top: 0;
        padding-top: 0;
    }
    #secOneImgBox{
        float: left;
        margin-left: 2vw; 
        width: 95vw;
        height: 95vw;
        border: none;
    }
    p{
        margin: 0;
        font-size: 12px;
    }
    button{
        margin-top: 10px;
        font-size: 12px !important;
    }
    #secOneImg{
        margin-left: 5%;
        width: 90%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #section2{
        width: 100%; 
        margin: none;
    }
    #secTwoLeftBox{
        width: 90%;
        padding-left: 5%;
    }
    #secTwoRightBox{
        width: 90%;
        float:left;
        padding-left: 5%;
    }
    .secTwoImgBox img{
        margin-left: 15vw;
        width:60vw;
        float:left;
    }
    .secTwoContent{
        margin-top: 5%;
        margin-left: 0vw;
        width: 90vw;
        float: left;
    }
    .secTwoContent h1{
        font-size: 18px;
    }

}