body{
    margin-left:0;
    margin-right:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
nav{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding: 10px;
    background: #3f3d3d;
}
nav a{
    text-decoration: none;
    padding: 3px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
#menu ul{
    display: none;
}
#menu ul:hover{
    height:auto;
    width:auto;
}
#section1{
    display: inline-block;
    background: #9c9c9c;
    width:100%;
    padding-top: 14vh;
    padding-bottom: 8vh;
    text-align: center;
}
h1{
    margin-top:0;
    font-size:25px;   
}
#secOneText{
    display: inline;
    float: left;
    margin-top: 10vh;
    width: 40%;
    margin-left: 3vw;
}
#secOneText button{
    padding: 0.8em;
    background-color: white;
    font-size: 18px;
    border: 1px solid black
}
#secOneImgBox{
    display: inline;
    float: right;
    margin-right: 8vw;
}
#secOneImg{
    display: block;
    width: 35vw;
    height: 35vw;
    border: 2px solid black
}
#section2{
    display: block;
    text-align: center;
}
.secTwoImgBox img{
    width: 20vw;
    margin-bottom: 10px; 
    padding: 0;
    border: 2px solid black
}
#section2 h1{
    line-height: 1.2em;
}
#secTwoLeftBox{
    float: left; 
    width: 40%;
    padding: 5%;
}
#secTwoRightBox{
    float: right;
    width: 40%;
    padding: 5%;
}
h1 span{ 
    white-space: nowrap; 
} 

